{% extends 'base.html' %} {% block content %}
<div class="container-fluid light-background project">
    <div class="row">
        <div class="col-12">
            <div class="container mx-auto">
                <div class="row">
                    <div class="col-12 project-intro">
                        <div class="vertical-center">
                            <h1 class="project-heading">Family Hub</h1>
                            <p>Created to serve the English speaking international community of families living in the
                                Haarlemmermeer area of The Netherlands.</p>

                            <p>Family Hub was designed to make a difference it to
                                newcomers to a country to be able to get out and connected to the community around. The
                                Family Hub goal
                                is to inform and connect English speaking families to the events and activities
                                available in their local
                                area.</p>
                        </div>
                    </div>
                    <div class="col-12 devices-demo text-center">
                        <img src="https://i.ibb.co/CBw04v7/home.jpg" alt="family hub home page on all device sizes">
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}