{% extends 'base.html' %} {% block content %}
<main class="project">
    <section class="container-fluid light-background">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="container mx-auto">
                    <div class="row">
                        <div class="col-12 project-intro">
                            <div class="vertical-center">
                                <h1 class="project-heading">Family Hub</h1>
                                <p>Created to serve the English speaking international community of families living in
                                    the
                                    Haarlemmermeer area of The Netherlands.</p>

                                <p>Family Hub was designed to make a difference to
                                    newcomers to the country, to ake it easier to get out and connected to the community
                                    around. The
                                    Family Hub goal
                                    is to inform and connect English speaking families to the events and activities
                                    available in their local
                                    area.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="project-screenshots" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container mx-auto">'
                    <div class="row no-gutters">
                        <div class="col-12">
                            <!-- Top image multi-devices -->
                            <img src="https://i.ibb.co/CBw04v7/home.jpg"
                                alt="Image of website on multiple screen sizes">
                        </div>
                        <!-- first column -->
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <!-- 2nd image home page -->
                                    <img src="https://i.ibb.co/h2ztDgM/familyhub-home.png"
                                        alt="Full-length screen capture of home page">
                                </div>
                                <div class="col-12">
                                    <!-- 4th image activity -->
                                    <img src="https://i.ibb.co/vh2QD46/familyhub-activity.png"
                                        alt="Full-length screen capture of activity listing page">
                                </div>
                            </div>
                        </div>
                        <!-- second column -->
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <!-- 3rd image activities -->
                                    <img src="https://i.ibb.co/PtBQT5X/familyhub-activities.png"
                                        alt="Full-length screen capture of activities search page">
                                </div>
                                <div class="col-12">
                                    <!-- 5th image add new activity -->
                                    <img src="https://i.ibb.co/KjFnJtC/familyhub-add-new.png"
                                        alt="Full-length screen capture of add new activity form">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <a href="{{url_for('portfolio_page')}}">
                                <button type="button" href="#" class="cta-btn mb-5">
                                    Back to portfolio page
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

{% endblock %}