@import url('https://fonts.googleapis.com/css?family=Roboto|Vidaloka&display=swap');

// fonts
$main-text: 'Roboto', sans-serif;
$heading: 'Vidaloka', serif;

// colours
$color1: #5eadbe;
$color1-transparent: #5eacbea6;
