@import url("https://fonts.googleapis.com/css?family=Roboto|Vidaloka&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.navbar,
.cta-btn,
.services-wrapper h3,
.services-icons p,
.footer-nav-item,
#pitch h3,
#contact a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.hero-heading,
.centred-heading,
footer h3,
#pitch h2,
#contact h3,
#contact h4 {
  font-family: "Vidaloka", serif;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
}

.services-icons p {
  font-size: 0.8rem;
}

.highlight-text,
#pitch h3 {
  color: #438796;
}

#contact h3 {
  font-size: 1.5rem;
  text-align: left;
}

#contact h4 {
  font-size: 1.5rem;
}

#portfolio h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-heading {
  font-size: 2.5rem;
  font-family: "Vidaloka", serif;
}

.cta-btn {
  background-color: transparent;
  height: 50px;
  margin-top: 2rem;
  padding: 0 1.5rem;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

.cta-btn.dark-btn {
  border: 1px solid #fff;
  color: #77ccdf;
}

.cta-btn.dark-btn:hover,
.cta-btn.light-btn:hover,
.cta-btn.lighter-btn:hover {
  background-color: #5eacbea6;
  color: #fff;
}

.cta-btn.light-btn {
  border: 1px solid #77ccdf;
  color: #77ccdf;
  margin-top: 1.5rem;
}

.cta-btn.lighter-btn {
  border: 1px solid #fff;
  color: #77ccdf;
}

#project-screenshots button {
  border: 1px solid #77ccdf;
  color: #438796;
}

#project-screenshots button:hover {
  background-color: #5eacbea6;
  color: #fff;
}

.services-icons h3 {
  font-size: 1.5rem;
}

.services-icons i {
  font-size: 2.5rem;
  color: #77ccdf;
  margin: 1.5rem;
  max-width: 180px;
}

.services-icons {
  text-align: center;
}

.container,
.container-fluid,
.row {
  padding: 0;
  margin: 0;
}

.full-height {
  min-height: 100vh;
}

#logo {
  height: 55px;
}

.navbar {
  opacity: 1;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

.navbar.invisible {
  opacity: 0;
}

.navbar-toggler {
  margin-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #77ccdf;
}

.services-wrapper h3 {
  color: #77ccdf;
}

.services-wrapper {
  margin: 2rem;
  text-align: center;
}

.pitch-section {
  padding: 2rem;
}

.contact-section {
  margin: 1rem;
  padding: 2rem;
  border: 1px solid #77ccdf;
}

.portfolio-container {
  padding: 2rem;
}

/* Background images */
.hero-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.hero-img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#homeHero {
  background-image: url("../images/backgrounds/desk.jpg");
  background-position: center 60%;
}

#servicesHero {
  background-image: url("../images/backgrounds/desk_dark.jpg");
  background-position: center 60%;
  color: #fff;
}

#servicesHero.hero-img {
  height: auto;
  min-height: 100vh;
}

#servicesHero.hero-img .hero-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
}

#ctaHero {
  background-image: url("../images/backgrounds/desk_cafe.jpg");
  background-position: center 60%;
}

#contactHero {
  background-image: url("../images/backgrounds/connect.jpg");
  background-position: center 60%;
}

#contactPortfolio {
  background-image: url("../images/backgrounds/notepad.jpg");
  background-position: center 60%;
}

#map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.vertical-center {
  margin: 0;
  padding: 2rem;
  position: absolute;
  top: 50%;
  width: 90%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-centre-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay-container {
  width: 100%;
}

.light-background {
  background-color: #e1f0f3;
}

/* Other images */
.frame {
  height: 50vh;
  padding: 2rem;
}

#headshot {
  background-image: url("../images/woman_computer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

/* Portfolio boxes */
.project-box {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem auto;
  text-align: center;
  color: #fff;
}

#project1 {
  background-image: url("https://annagilhespy.com/wp-content/uploads/2019/02/about3.jpg");
  background-position: 100% center;
}

#project2 {
  background-image: url("https://i.ibb.co/y8bx9BL/kidswim.jpg");
  background-position: center;
}

#project3 {
  background-image: url("https://images.slideplayer.com/26/8705799/slides/slide_2.jpg");
  background-position: center;
}

.project-box-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-box p {
  padding-top: 4rem;
  font-size: 1rem;
  font-family: "Vidaloka", serif;
}

.project-box h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.project-intro {
  min-height: 100vh;
  position: relative;
  min-height: 100vh;
}

.project-box {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.devices-demo {
  padding: 2rem;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

#project-screenshots img {
  width: 100%;
  margin: 1rem 0.5rem;
  pointer-events: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* footer */
footer {
  background-color: #000;
  color: white;
}

footer a {
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

footer a:hover {
  color: #77ccdf;
  text-decoration: none;
}

.footer-nav-item {
  padding: 0.5rem;
  font-size: 0.8rem;
}

small {
  color: #5eacbea6;
}

.legal-links a {
  font-size: 1rem;
  padding: 1rem;
  color: #5eacbea6;
  font-weight: lighter;
}

.social-links a {
  font-size: 1.5rem;
  padding: 0.5rem;
}

#contact a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #77ccdf;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

#contact a:hover {
  color: #438796;
  text-decoration: none;
}

iframe {
  width: 95vw;
  height: 50vh;
  margin: auto;
}

/* Medium screens and up */
@media screen and (min-width: 768px) {
  .hero-heading {
    text-align: left;
    width: auto;
  }
  h1.hero-heading {
    margin-left: 4rem;
    font-size: 5rem;
  }
  .hero-overlay {
    text-align: left;
  }
  #ctaHero h3,
  #ctaHero h4 {
    margin-left: 4rem;
  }
  #ctaHero h3 {
    font-size: 3.5rem;
  }
  #ctaHero h4 {
    font-size: 2rem;
  }
  .cta-btn {
    margin-left: 4rem;
  }
  /* Other images */
  .frame {
    height: 100vh;
    padding: 2rem;
  }
  /* Portfolio boxes */
  .project-box-overlay {
    opacity: 0;
    -webkit-transition: 0.2s all ease-in-out 0.3s;
    transition: 0.2s all ease-in-out 0.3s;
  }
  .project-box-overlay:hover {
    opacity: 1;
  }
  .project-box-overlay button {
    margin-left: 0;
    height: 40px;
  }
  .vertical-md-center {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 90%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  iframe {
    width: 98vw;
  }
  .project p {
    font-size: 1.5rem;
  }
  #portfolio h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .project-heading {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 2000px) {
  .pitch-container,
  .portfolio-section-container {
    margin-top: 6%;
  }
}

/* css for when user is on a touch screen,
and therefore the hover effects on portfolio boxes would not work
Shows buttons to click on images by default */
/* css for when user has a mouse or track pad,
and therefore the hover effects on portfolio boxes do work */
/*# sourceMappingURL=main.css.map */