/* Medium screens and up */
@media screen and (min-width: 768px) {
    // Positions headings and buttons correctly on larger screens.
    .vertical-center {
        top: 50%;
    }
    .hero-heading {
        text-align: left;
        width: auto;
    }
    h1.hero-heading {
        margin-left: 4rem;
        font-size: 5rem;
    }
    .hero-overlay {
        text-align: left;
    }
    #ctaHero h3,
    #ctaHero h4 {
        margin-left: 4rem;
    }
    #ctaHero h3 {
        font-size: 3.5rem;
    }
    #ctaHero h4 {
        font-size: 2rem;
    }
    .cta-btn {
        margin-left: 4rem;
    }
    /* Other images */
    .frame {
        height: 100vh;
        padding: 2rem;
    }
    /* Portfolio boxes */
    .project-box-overlay {
        opacity: 0;
        -webkit-transition: 0.2s all ease-in-out 0.3s;
        transition: 0.2s all ease-in-out 0.3s;
    }
    .project-box-overlay:hover {
        opacity: 1;
    }
    .project-box-overlay button {
        margin-left: 0;
        height: 40px;
    }
}

/* css for when user is on a touch screen,
and therefore the hover effects on portfolio boxes would not work
Shows buttons to click on images by default */
@media (pointer: coarse) { 

}

/* css for when user has a mouse or track pad,
and therefore the hover effects on portfolio boxes do work */
@media (pointer: fine) { 

}