{% extends 'base.html' %} {% block content %}

    <!-- Contact / heading -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <heading id="contactHero" class="col-12 hero-img">
                <div class="hero-overlay">
                    <div class="overlay-container vertical-center">
                        <h1 class="text-white hero-heading">Connect with<br>
                            me today.
                        </h1>
                    </div>
                </div>
            </heading>
        </div>
    </div>

    <!-- Contact buttons -->
    <div id="contact" class="container-fluid py-5">
        <div class="row no-gutters">
            <section class="col-12">
                <div class="container mx-auto contact-container">
                    <div class="row justify-content-around">
                        <div class="col-11 col-md-5 contact-section">
                            <h3>Hire an Expert</h3>
                            <p>Are you looking for an experienced web designer or developer? Or maybe you need some
                                consultation services? Let's talk about what you need.</p>
                            <a href="#">Send Inquiry</a>
                        </div>
                        <div class="col-11 col-md-5 contact-section">
                            <h3>General Questions</h3>
                            <p>Feel free to reach out to me if you have any questions or comments about the services I
                                offer. Also, you can always just send me a friendly hello.</p>
                            <a href="#">Say hello</a>
                        </div>
                        <div class="col-11 contact-section">
                            <h4>Or reach out to me directly</h4>
                            <p class="text-center">Call (+31) 06-1811-5098 | Mon - Fri: 9am - 5pm | Central European
                                Time</p>
                            </p>
                        </div>
            </section>
        </div>
    </div>

    <!-- Map -->
    <!-- text-center class positions map in the center correctly-->
    <div id="map" class="text-center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883787.105915896!2d4.269314700582031!3d52.266872472016225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e7c99d7f827b%3A0x9ee711c788d9afa4!2sLindholm+19%2C+2133+CM+Hoofddorp!5e0!3m2!1sen!2snl!4v1566036146326!5m2!1sen!2snl"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    {% endblock %}