{% extends 'base.html' %} {% block content %}

    <!-- Hero / heading -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <heading id="homeHero" class="col-12 hero-img">
                <div class="hero-overlay">
                    <div class="overlay-container vertical-center">
                        <h1 class="text-white hero-heading">Web Designer<br>
                            & Developer.
                        </h1>
                        <button type="button" href="#" class="cta-btn dark-btn">
                            Hire me today
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </button>
                    </div>
                </div>
            </heading>
        </div>
    </div>

    <!-- Pitch -->
    <div id="pitch" class="container-fluid full-height">
        <div class="row no-gutters">
            <section class="col-12">
                <div class="container mx-auto pitch-container">
                    <div class="row text-center justify-content-around">
                        <div class="col-12 pitch-section">
                            <h2 class="hero-heading d-md-none">You have a big idea, <br>
                                a mission that is <br>
                                close to your heart.</h2>
                            <h2 class="hero-heading d-none d-md-block">You have a big idea, <br>
                                a mission that is close to your heart.</h2>
                        </div>
                        <div class="col-12 col-md-6 pitch-section">
                            <h3>You already have a website</h3>
                            <p>But you’re not happy
                                with it, it’s not helping your idea to thrive the way you know it can.</p> 
                                <p>You need to get
                                your message out there & attract the clients you most want to serve. Your idea deserves a website that does it justice. </p>
                        </div>
                        <div class="col-12 col-md-6 pitch-section">
                            <h3>You don’t have a website yet</h3>
                            <p>But you do
                                have a bright & shiny idea.</p> 
                                <p>You know that to launch a big idea into the world,
                                investing in an expert to design & develop your online presence will help your chances of success tenfold. </p>
                        </div>
                        <div class="col-12 col-md-8 pitch-section">
                            <h3>What I can do for you</h3>
                            <p>At inSiteful I combine my lifetime of design skills, business experience & programming
                                expertise to <span class="highlight-text">empower your mission.</span></p>
                                <p>
                                With my unique mix of creative flair & under the
                                hood mechanic along with years of experience in making my customers happy, I can create
                                the flagship website you are proud of.</p>
                        </div>
                    </div>
            </section>
        </div>
    </div>

    <div id="servicesHero" class="container-fluid hero-img">
        <div class="row hero-overlay no-gutters">
            <!-- Services -->
            <section class="col-12 dark-section">
                <div class="container mx-auto services-section">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h2 class="centred-heading my-4">Services</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="services-wrapper">
                                <h3 class="d-none d-xl-block">Adjustments & Upgrades</h3>
                                <h3 class="d-xl-none">Adjustments<br>
                                    & Upgrades</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dictum porta.
                                    Vivamus
                                    et aliquam nibh, consectetur sagittis massa. Vivamus vestibulum, turpis volutpat
                                    consectetur
                                    vestibulum. </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="services-wrapper">
                                <h3 class="d-none d-xl-block">Full design & development packages</h3>
                                <h3 class="d-xl-none">Full design<br>
                                    & development packages</h3>
                                <p>
                                    Fusce non convallis ligula, eu mattis lectus. Curabitur accumsan ornare lorem, ut
                                    efficitur
                                    lectus volutpat quis. Sed imperdiet metus ullamcorper magna volutpat
                                    faucibus.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="services-wrapper">
                                <h3>Consultation</h3>
                                <p>
                                    Aliquam feugiat ornare turpis, aliquam consequat orci mattis et. Vivamus in erat
                                    porta,
                                    bibendum arcu sed, suscipit nisi. Sed imperdiet metus ullamcorper magna volutpat
                                    faucibus.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="services-wrapper">
                                <h3>Website management</h3>
                                <p>
                                    Morbi quis nunc ultrices, congue mi eu, porta mi. Fusce quis eleifend arcu. Quisque
                                    mattis,
                                    augue id consectetur gravida, diam nisi consectetur ligula, sed tincidunt libero
                                    augue
                                    consectetur neque.
                                </p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 services-icons">
                            <i class="fas fa-award"></i>
                            <p>Qualified Full Stack Developer</p>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 services-icons">
                            <i class="fas fa-mobile-alt"></i>
                            <p>Responsive design</p>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 services-icons">
                            <i class="fab fa-hubspot"></i>
                            <p>Agile mindset</p>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 services-icons">
                            <i class="far fa-chart-bar"></i>
                            <p>Databases & eCommerce</p>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 services-icons">
                            <i class="far fa-lightbulb"></i>
                            <p>Creative problem solver</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Portfolio preview -->
    <div class="container-fluid light-background">
        <div class="row no-gutters">
            <section class="col-12 full-height">
                <div class="container mx-auto portfolio-section-container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="centred-heading my-4">
                                Web design & <br>
                                development projects.
                            </h2>
                            <p>Aliquam feugiat ornare turpis, aliquam consequat orci mattis et. Vivamus in erat
                                porta,
                                bibendum arcu sed, suscipit nisi. Sed imperdiet metus ullamcorper magna volutpat
                                faucibus. Morbi quis nunc ultrices, congue mi eu, porta mi. Fusce quis eleifend arcu.
                                Quisque
                                mattis,
                                augue id consectetur gravida, diam nisi consectetur ligula, sed tincidunt libero
                                augue
                                consectetur neque.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div id="project1" class="project-box">
                                <div class="project-box-overlay">
                                    <p>Artist Portfolio</p>
                                    <h4>Anna Gilhespy</h4>
                                    <button type="button" href="#" class="cta-btn dark-btn">View Project</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div id="project2" class="project-box">
                                <div class="project-box-overlay">
                                    <p>Kids Events & Activities</p>
                                    <h4>Family Hub</h4>
                                    <button type="button" href="#" class="cta-btn dark-btn">View Project</button>
                                </div>
                            </div>
                        </div>
                        <!-- This column hidden on medium screens -->
                        <div class="col-12 col-lg-4 d-md-none d-lg-block">
                            <div id="project3" class="project-box">
                                <div class="project-box-overlay">
                                    <p>Learning Environment Demo</p>
                                    <h4>Elsevier</h4>
                                    <button type="button" href="#" class="cta-btn dark-btn">View Project</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="button" href="#" class="cta-btn lighter-btn mb-5">
                                View full portfolio
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Passion -->
    <div class="container-fluid">
        <div class="row">
            <section class="col-12">
                <div class="container mx-auto py-5">
                    <div class="row">
                        <div class="col-12 col-md-6 p-0">
                            <div class="frame">
                                <div id="headshot" title="photograph of Anna Greaves"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="vertical-md-center text-center text-md-left pr-md-4">
                                <!-- Heading formats different for sm + lg screen sizes -->
                                <h2 class="hero-heading my-4 d-xl-none">
                                    My passion is
                                    web design
                                    & development.
                                </h2>
                                <h2 class="hero-heading mb-4 d-none d-xl-block">
                                    My passion is web design<br>
                                    & development.
                                </h2>
                                <p>
                                    Aliquam feugiat ornare turpis, aliquam consequat orci mattis et. Vivamus in erat
                                    porta,
                                    bibendum arcu sed, suscipit nisi. Sed imperdiet metus ullamcorper magna volutpat
                                    faucibus. Morbi quis nunc ultrices, congue mi eu, porta mi. Fusce quis eleifend arcu.
                                    Quisque
                                    mattis,
                                    augue id consectetur gravida, diam nisi consectetur ligula, sed tincidunt libero
                                    augue
                                    consectetur neque.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Call to action -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <heading id="ctaHero" class="col-12 hero-img">
                <div class="hero-overlay">
                    <div class="overlay-container vertical-center text-white p-3">
                        <h3 class="hero-heading">Need help from an expert<br> in both
                            website design <br>& development?
                        </h3>
                        <h4>Lets discuss your needs in detail.</h4>
                        <a href="{{url_for('contact_page')}}">
                            <button type="button" class="cta-btn dark-btn">
                                    I'm here to help you
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </heading>
        </div>
    </div>


    {% endblock %}