{% extends 'base.html' %} {% block content %}

<!-- Portfolio / heading -->
<div class="container-fluid">
    <div class="row no-gutters">
        <heading id="contactPortfolio" class="col-12 hero-img">
            <div class="hero-overlay">
                <div class="overlay-container vertical-center">
                    <h1 class="text-white hero-heading">
                        Web Design &<br>
                        Development Portfolio
                    </h1>
                </div>
            </div>
        </heading>
    </div>
</div>

<div id="portfolio" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="container mx-auto portfolio-container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="hero-heading text-center d-lg-none">I'm a web developer with decades of design &
                            business experience.</h2>
                        <h2 class="hero-heading text-center d-none d-lg-block">I'm a web developer with decades of <br>
                            design & business experience.</h2>
                        <p>Nullam vel lorem in magna ultrices ullamcorper eget eget tortor. Mauris aliquet varius sapien
                            non
                            ultrices. In sed nisi ut leo hendrerit aliquet.</p>
                        <p>Praesent in ante sit amet dui vulputate
                            suscipit at quis
                            sapien. Ut vel volutpat nisi. In eget lectus ut eros egestas convallis egestas et tellus.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div id="project1" class="project-box">
                            <div class="project-box-overlay">
                                <p>Artist Portfolio</p>
                                <h4>Anna Gilhespy</h4>
                                <a href="{{url_for('portfolio_annagilhespy')}}">
                                    <button type="button" class="cta-btn dark-btn">View Project</button>
                                </a>
                                
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div id="project2" class="project-box">
                            <div class="project-box-overlay">
                                <p>Kids Events & Activities</p>
                                <h4>Family Hub</h4>
                                <a href="{{url_for('portfolio_familyhub')}}">
                                    <button type="button" class="cta-btn dark-btn">View Project</button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div id="project3" class="project-box">
                            <div class="project-box-overlay">
                                <p>Learning Environment Demo</p>
                                <h4>ClinicalKey</h4>
                                <a href="{{url_for('portfolio_clinicalkey')}}">
                                    <button type="button" class="cta-btn dark-btn">View Project</button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}