{% extends 'base.html' %} {% block content %}

    <!-- Portfolio / heading -->
    <div class="container-fluid">
            <div class="row no-gutters">
                <heading id="contactPortfolio" class="col-12 hero-img">
                    <div class="hero-overlay">
                        <div class="overlay-container vertical-center">
                            <h1 class="text-white hero-heading">
                                    Web Design &<br>
                                    Development Portfolio
                            </h1>
                        </div>
                    </div>
                </heading>
            </div>
        </div>

{% endblock %}