.cta-btn {
    background-color: transparent;
    height: 50px;
    margin-top: 2rem;
    padding: 0 1.5rem;
    -webkit-transition: 0.2s all ease-in-out 0.3s;
    transition: 0.2s all ease-in-out 0.3s;
}

.cta-btn.dark-btn {
    border: 1px solid #fff;
    color: $color1;
}

.cta-btn.dark-btn:hover,
.cta-btn.light-btn:hover,
.cta-btn.lighter-btn:hover {
    background-color: $color1-transparent;
    color: #fff;
}

.cta-btn.light-btn {
    border: 1px solid $color1;
    color: $color1;
    margin-top: 1.5rem;
}

.cta-btn.lighter-btn {
    border: 1px solid #fff;
    color: $color1;
}

#project-screenshots button {
    border: 1px solid $color1;
    color: $color1-darker;
}

#project-screenshots button:hover {
    background-color: $color1-transparent;
    color: #fff;
}

a:hover {
    text-decoration: none;
}