body {
    font-family: $main-text;
}

.navbar,
.cta-btn,
.services-wrapper h3,
.services-icons p,
.footer-nav-item,
#pitch h3,
#contact a {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.hero-heading,
.hero-heading-smaller,
.centred-heading,
footer h3,
#pitch h2,
#contact h3,
#contact h4 {
    font-family: $heading;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

.services-icons p {
    font-size: 0.8rem;
}

.highlight-text,
#pitch h3 {
    color: $color1-darker;
}

#contact h3 {
    font-size: 1.5rem;
    text-align: left;
}

#contact h4 {
    font-size: 1.5rem;
}

#portfolio h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-heading {
    font-size: 2.5rem;
    font-family: $heading;
}

